@use '../../main.scss' as mn;
    
.proyContainer{
    padding: 0px 0px 5vw 0px;
    display: flex;
    flex-direction: column;
    // gap: 5vw;
    background: mn.$background2;
    border: 1px solid mn.$border-color;
    border-radius: 12px;
    box-shadow: mn.$shad-Flat;

    h2{
        padding: 5vw 0 0 5vw;
        font-size: mn.$tx-xxl;
        color: mn.$primary-text-color;
    }
    
    aside {
        width: 89vw;
        padding: 5vw;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 5vw;
        
        @media (min-width: mn.$layout-breakpoint-small){
          flex-direction: row;
          overflow-x: auto;
          overscroll-behavior-x: contain;
          scroll-snap-type: x proximity;
  
        }
    }
    aside::-webkit-scrollbar {
        background-color: mn.$border-color;
        height: 5px;
        
      }
    aside::-webkit-scrollbar-thumb{
        background-color: mn.$primary-color;
        border-radius: 5px;
      }
    }

