@use '../../main.scss' as mn;

.contact-links,.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .contact-btn {
    cursor: pointer;
    height: 50px;
    width: 50px;
    color: #333;
    border-radius: 10px;
    box-shadow: mn.$shad-Flat;
    background: mn.$background-color;
    margin: 5px;
    transition: 0.3s;
    justify-content: center;
  }

  .contact-btn p {
    width: 0px;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
    margin-left: 5px;
  }

  .contact-btn:hover {
    width: 150px;
    border-radius: 5px;
    // filter: drop-shadow(0px 0px 5px rgb(0,140,255)) drop-shadow(0px 0px 25px rgb(0,140,255)) drop-shadow(0px 0px 50px rgb(0,140,255)) drop-shadow(0px 0px 100px rgb(0,140,255));
  }

  .contact-btn:hover p {
    padding: 2px;
    width: 110px;
  }

  #whatsapp  {
    color: rgb(97, 255, 97);
    p{
      color: mn.$primary-text-color;
    }
  }

  #gmail  {
    color: red;
    p{
      color: mn.$primary-text-color;
    }
  }
  #github  {
    // color: #1b1f23;
    color: white;
    p{
      color: mn.$primary-text-color;
    }
  }
  #linkedin  {
    color: #007fbc;
    p{
      color: mn.$primary-text-color;
    }
  }
  #discord  {
    color: #5865f2;
    p{
      color: mn.$primary-text-color;
    }
  }
  
  