@use '../../main.scss' as mn;

.info{
    display: flex;
    align-items: center;
    justify-content: center;
    animation-duration: 4s;
    animation-name: fade;
    article{
        width: 45vw;
        // padding-left: 5vw;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        gap: 1vw;
        p{
            font-size: mn.$tx-l;
            color: mn.$primary-text-color;
        }
        @media (min-width: mn.$layout-breakpoint-small){
            p{
                font-size: mn.$tx-xxxl;
            }
        }
        @media (min-width: mn.$layout-breakpoint-medium){
            p{
                font-size: mn.$tx-desktop;
            }
        }
    }
    figure{
        width: 45vw;
        display: flex;
        align-items: center;
        justify-content: end;
        span{
            
            width: 30vw;
            height: 30vw;
            border-radius: 50%;
            background-image: url(../../assets/img/drm.png);
            background-color: transparent;
            background-size: cover;
            background-position: center;
            filter: drop-shadow(-15px -15px 30px #30353a) drop-shadow(15px 15px 30px #000000);
        }

    }

}
.ing{
    font-size: mn.$tx-xxl;
    span{
        color: mn.$primary-text-color;
    }
    @media (min-width: mn.$layout-breakpoint-small){
        font-size: mn.$tx-xxxl;

    }
    @media (min-width: mn.$layout-breakpoint-medium){
        font-size: mn.$tx-desktop;
    }
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}