@use '../../main.scss' as mn;

.designContainer{
    width: 100vw;
    display: flex;
    // position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: mn.$backFooter;
    opacity: 0.5;
    z-index: 2;
    a{
        color: mn.$primary-text-color;
    }
    a:hover{
        color: mn.$primary-color;
    }
}