@use '../../main.scss' as mn;

.layout {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7vh;
    padding: 0 5vw;
    gap: 5vh;
    color: mn.$primary-color;
    z-index: 2;
}