@use '../../main.scss' as mn;
@import '../../styles.scss';

.aboutContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vw;
    padding: 0px 5vw;
    font-size: mn.$tx-base;
    font-weight: 400;
    letter-spacing: 1px;
    color: mn.$primary-text-color;
    @media (min-width: mn.$layout-breakpoint-small){
        font-size: mn.$tx-base;
    }
    @media (min-width: mn.$layout-breakpoint-large){
        font-size: mn.$tx-xl;
    }
}
.design{
    @include themify($themes) {
        background: themed('colorBackground');
        color: themed('primaryTextColor');
    }
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vw;
    border: 1px solid mn.$primary-color;
    border-radius: 20px;
    box-shadow: mn.$shad-Flat;
    padding: 3vw;
    // border-image: linear-gradient(-45deg, #e81cff 0%, #40c9ff 100%);
    // border-image-slice: 1;
    // &:hover{
    //     filter: drop-shadow(0px 0px 5px rgb(0,140,255)) drop-shadow(0px 0px 25px rgb(0,140,255)) drop-shadow(0px 0px 50px rgb(0,140,255)) drop-shadow(0px 0px 100px rgb(0,140,255));
    // }
}

.aboutPI{
    flex-grow: 1;
    div{
        span{
            display: flex;
            gap: 1vw;
            align-items: center;
            justify-content: space-between;
            font-weight: bold;
            p:nth-child(odd){
                color: mn.$tertiary-text-color;
            }
        }
    }
}

.aboutSkills{
    flex-grow: 1;
    div{
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        flex-wrap: wrap;
        gap: 1vw;
    }
}

.aboutDwnload{
    flex-grow: 1;
    div{
        display: flex;
        flex-direction: column;
        gap: 3vw;
        button{
            display: flex;
            align-items: center;
            gap: 1vw;
            cursor: pointer;
        }
    }
}

.icoRDsgn{
    height: 33px;
    @media (min-width: mn.$layout-breakpoint-medium){
        width: 35px;
        height: 35px;
    }
    @media (min-width: mn.$layout-breakpoint-large){
        width: 45px;
        height: 45px;
    }
}