@use '../main.scss' as mn;

.container{
    width: 100vw;
    // height: auto;

}
.contentLogo{
      // overflow-x: hidden; 
    position: absolute;
    width: 100vw;
    height: 80vh;
    // background: gray;
}
.logo {
    width: 50vw;
    position: absolute;
    right: 30vw; 
    top: 7vh;
    opacity: 5%;
    z-index: 0;
    will-change: filter;
    transition: filter 300ms;
    // overflow-x: hidden;
    @media (min-width: mn.$layout-breakpoint-medium){
      width: 45vh;
      top: 10vh;
      left: 25vw; 
  }
}

@keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  @media (prefers-reduced-motion: no-preference) {
    .logo {
      animation: logo-spin infinite 60s linear;
    }
  }