@use '../../main.scss' as mn;

header{
    z-index: 2;
    nav{
        width: 100vw;
        height: 45px;
        padding: 0px 5vw;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: mn.$tx-base;
        background: mn.$background2;
        // opacity: 70%;
        box-shadow: mn.$shad-Flat;
        ul{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            li {
                cursor: pointer;

            }
            li:hover {
                color: mn.$primary-color;
            }
        }
        .contain-menu{
          justify-content: end;
          @media (min-width: mn.$layout-breakpoint-small){
            display: none;
          }
        }
        .contain-list-menu{
          display: none;
          @media (min-width: mn.$layout-breakpoint-small){
            display: flex;
            max-width: 300px;
            a:hover{
              color: mn.$primary-color;
            }
            // cursor: pointer;
          }
        }
    }
    .menuMobile{
      display: flex;
      position: absolute;
      top: 45px;
      z-index: 3;
    }

}
.hidden{
  display: none;
}

.icoSocial{
                    
  width: 25px;
  height: 25px;
  
}

.menu {
    width: 33px;
    height: 33px;
}

.toggle {
    color: mn.$primary-text-color;
    background-color: mn.$background-color;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    cursor: pointer;
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, .1);
    line-height: 1;
    &:hover {
      color: mn.$primary-color;
    }
  }
  
  .input {
    display: none;
  }
  
  .icon {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    transition: transform 500ms;
  }
  
  .icon--sun {
    transition-delay: 200ms;
    
  }
  .icon--moon {
    transform: scale(0);
  }
  
  #switch:checked ~ .icon--sun {
    transform: rotate(360deg) scale(0);
  }

  #switch:checked + .icon--moon {
    transition-delay: 200ms;
    transform: scale(1) rotate(360deg);
    
  }