@use '../../main.scss' as mn;

header{
    z-index: 2;
    nav{
        width: 100vw;
        height: 7vh;
        padding: 0px 3%;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: end;
        background: mn.$background-color;
        opacity: 70%;
        box-shadow: mn.$shad-Flat;
        ul{
            li {
                cursor: pointer;
            }
            li:hover {
                color: mn.$primary-color;
            }
        }
    }

}

.menu {
    width: 33px;
    height: 33px;
}