$primary-color: #00D8FF;
$secondary-color: #26385D;
$tertiary-color: #42702F;
$primary-text-color: #ffffff;
$secondary-text-color: #ACADAE;
$tertiary-text-color: #7D7F82;
$background-color:#26282B;
$font-stack: 'Roboto', sans-serif;
$tx-sm: 1.2rem;
$tx-base: 1.4rem;
$tx-l: 1.6rem;
$tx-xl: 1.8rem;
$tx-xxl: 2rem;
$tx-xxxl: 2.4rem;
$tx-tablet: 3.2rem;
$tx-desktop: 4.8rem;
$tx-desktXL: 6.4rem;
$layout-breakpoint-small:490px;
$layout-breakpoint-medium:970px;
$layout-breakpoint-large:1200px;
$shad-Flat:-15px -15px 30px rgba(48, 53, 58, 0.25),
15px 15px 30px 0px rgba(0, 0, 0, 0.25);
$shad-smFlat: -5px 5px 10px #bebebe,
5px -5px 10px #ffffff;
$shadow: -5px 5px 10px #bebebe;

:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
html {
    font-size: 62.5%;
  }

body {
  background: $background-color;
  color: $primary-text-color;
  font-family: $font-stack;
  svg path {
    stroke: currentColor;        
  }
}

ul{
  list-style: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}