$primary-color: #00D8FF;
$secondary-color: #26385D;
$tertiary-color: #42702F;
$primary-text-color: #ffffff;
$secondary-text-color: #ACADAE;
$tertiary-text-color: #7D7F82;
$background-color:#26282B;
$background2:rgba(38, 40, 43, 0.70);
$backFooter: black;
$border-color:#474D57;
$font-stack: 'Roboto', sans-serif;
$tx-sm: 1.2rem;
$tx-base: 1.4rem;
$tx-l: 1.6rem;
$tx-xl: 1.8rem;
$tx-xxl: 2rem;
$tx-xxxl: 2.4rem;
$tx-tablet: 3.2rem;
$tx-desktop-p: 3.8rem;
$tx-desktop: 4.5rem;
$tx-desktXL: 6.4rem;
$layout-breakpoint-small:490px;
$layout-breakpoint-medium:970px;
$layout-breakpoint-large:1200px;
$shad-Flat:-15px -15px 30px #30353a40,
15px 15px 30px 0px #00000040;


:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
html {
    font-size: 62.5%;
  }

body {
  background: $background-color;
  color: $primary-text-color;
  font-family: $font-stack;
  svg path {
    stroke: currentColor;        
  }
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: $primary-text-color;
  &:hover{
    color: $primary-color;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes fade {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}