$themes: (
    light: (
      colorHeaderFooter: #fff,
      primaryTextColor: #26385D,
      colorBackground: #e0e0e0,
      colorBackground2: #e0e0e0b3,
      backFooter: #bebebe,
    ),
    dark: (
      colorHeaderFooter: #36394c,
      primaryTextColor: #ffffff,
      colorBackground: #202123,
      colorBackground2: #202123b3,
      backFooter: #000000,
    ),
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge(
          $theme-map,
            (
              $key: $value,
            )
          ) !global;
        }
        @content;
        $theme-map: null !global;
      }
   }
}
@function themed($key) {
  @return map-get($theme-map, $key);
}

